<div class="modal fade" id="Modal-SignIn" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ion-android-close"></i></span></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <h2 class="modal-title text-center">Đăng nhập</h2>
                            <br>

                            <form class="signin" id="signin-form">
                                <input type="email" name="email"  id="email" placeholder="E-mail" required="" class="form-control" />
                                <br>
                                <input type="password" name="password" id="password" placeholder="Password" required="" class="form-control" />
                                <span id="signin-notification" class="err-signin"></span>
                                <br>
                                <button type="submit" class="btn btn-primary btn-sm">Đăng nhập</button>
                                <a href="" data-action="Forgot-Password">Quên mật khẩu ></a>
                            </form>
                            <br>
                            <div class="social-login">
                                <div class="or"><p>OR</p></div>
                                <a href="/signin/facebook"><i class="icon" data-src="../img/icons/facebook.svg"></i></a>
                                <p>via</p>
                                <a href="javascript:;" id="signin-google"><i class="icon" data-src="../img/icons/google-plus.svg"></i></a>
                            </div>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="Modal-Registration" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ion-android-close"></i></span></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <h2 class="modal-title text-center">Đăng ký</h2>
                            <br>

                            <form class="join" id="signup-form">
                                <input type="text" id="signup-name" value="" placeholder="Name" required="" class="form-control" />

                                <br>
                                <input type="email" id="signup-email" value="" placeholder="E-mail" required="" class="form-control" />
                                <span class="err-signin" id="email-notification"></span>
                                <br>

                                <input type="password" id="signup-password" value="" placeholder="Password" required="" class="form-control" />
                                <br>

                                <input type="password" id="confirm" value="" placeholder="Password again" required="" class="form-control" />
                                <span class="err-signin" id="password-notification"></span>
                                <br>
                                <button type="submit" class="btn btn-primary btn-sm">Đăng ký</button> &nbsp;&nbsp;
                                <a href="#">Điều khoản ></a>

                                <br><br>
                                <p>
                                    By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="Modal-ForgotPassword" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ion-android-close"></i></span></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4 class="modal-title">Quên mật khẩu</h4>
                            <br>

                            <form class="join" action="index.php" method="post">
                                <input type="email" name="email" value="" placeholder="E-mail" required="" class="form-control" />
                                <br>

                                <button type="submit" class="btn btn-primary btn-sm">Tiếp tục</button>
                                <a href="#Sign-In" data-action="Sign-In">Trở về ></a>
                            </form>
                        </div>
                        <div class="col-sm-6">
                            <br><br>
                            <p>
                                Enter the e-mail address associated with your account. Click submit to have your password e-mailed to you.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="Modal-Gallery" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ion-android-close"></i></span></button>
                <h4 class="modal-title">Title</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="signup-notification-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Tài khoản đã được tạo thành công
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-sm" data-dismiss="modal" aria-label="Close">Close</button> &nbsp;&nbsp;
            </div>
        </div>
    </div>
</div>

