<hr class="offset-top">

<div class="white">
    <div class="container checkout">
        <h1>Products gallery</h1>
        <hr class="offset-sm">
    </div>
</div>

<div class="black">
    <hr class="offset-lg">
    <hr class="offset-lg">


    <div class="container gallery">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="preview" data-preview="img/gallery/video-apple.jpg" data-gallery="#video"
                     data-source="vimeo" data-id="110691368">

                    <div class="title">
                        <div class="caption">
                            <i class="ion-ios-play"></i>
                            <h4> Apple iPad Air </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="preview" data-preview="img/gallery/thumb/img1.jpg" data-gallery="#photo"
                     data-source="img/gallery/img1.jpg">

                    <div class="title">
                        <div class="caption">
                            <i class="ion-ios-albums-outline"></i>
                            <h4> Macbook Air 13 </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="preview" data-preview="img/gallery/thumb/img2.jpg" data-gallery="#photo"
                     data-source="img/gallery/img2.jpg">


                    <div class="title">
                        <div class="caption">
                            <i class="ion-ios-albums-outline"></i>
                            <h4> Macbook Air Retina </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="preview" data-preview="img/gallery/video-dell.jpg" data-gallery="#video"
                     data-source="youtube" data-id="yTJk6nZLEZc">

                    <div class="title">
                        <div class="caption">
                            <i class="ion-ios-play"></i>
                            <h4> Best Dell Laptops </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="preview" data-preview="img/gallery/thumb/img3.jpg" data-gallery="#photo"
                     data-source="img/gallery/img3.jpg">

                    <div class="title">
                        <div class="caption">
                            <i class="ion-ios-albums-outline"></i>
                            <h4> Protected Devices </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="preview" data-preview="img/gallery/thumb/img4.jpg" data-gallery="#photo"
                     data-source="img/gallery/img4.jpg">

                    <div class="title">
                        <div class="caption">
                            <i class="ion-ios-albums-outline"></i>
                            <h4> Lenovo Laptop </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="preview" data-preview="img/gallery/thumb/img5.jpg" data-gallery="#photo"
                     data-source="img/gallery/img5.jpg">

                    <div class="title">
                        <div class="caption">
                            <i class="ion-ios-albums-outline"></i>
                            <h4> Macbook Pro </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="preview" data-preview="img/gallery/thumb/img6.jpg" data-gallery="#photo"
                     data-source="img/gallery/img6.jpg">

                    <div class="title">
                        <div class="caption">
                            <i class="ion-ios-albums-outline"></i>
                            <h4> Designer Workspace </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="preview" data-preview="img/gallery/thumb/img7.jpg" data-gallery="#photo"
                     data-source="img/gallery/img7.jpg">

                    <div class="title">
                        <div class="caption">
                            <i class="ion-ios-albums-outline"></i>
                            <h4> Macbook Pro </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="preview" data-preview="img/gallery/thumb/img8.jpg" data-gallery="#photo"
                     data-source="img/gallery/img8.jpg">

                    <div class="title">
                        <div class="caption">
                            <i class="ion-ios-albums-outline"></i>
                            <h4> Businessman Workspace </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="preview" data-preview="img/gallery/thumb/img9.jpg" data-gallery="#photo"
                     data-source="img/gallery/img9.jpg">


                    <div class="title">
                        <div class="caption">
                            <i class="ion-ios-albums-outline"></i>
                            <h4> Apple Design </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="preview" data-preview="img/gallery/thumb/img10.jpg" data-gallery="#photo"
                     data-source="img/gallery/img10.jpg">


                    <div class="title">
                        <div class="caption">
                            <i class="ion-ios-albums-outline"></i>
                            <h4> Photographer Workspace </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="preview" data-preview="img/gallery/thumb/img11.jpg" data-gallery="#photo"
                     data-source="img/gallery/img11.jpg">

                    <div class="title">
                        <div class="caption">
                            <i class="ion-ios-albums-outline"></i>
                            <h4> Macbook Pro </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>