<div class="container">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3" style="margin-top: 100px">
            <h3>Khôi phục mật khẩu</h3>
            <br>
            <form id="recover-form">
                <input type="password" placeholder="Mật khẩu mới" name="password" class="form-control" required>
                <br>
                <input type="password" placeholder="Nhập lại mật khẩu" name="rePassword" class="form-control" required>
                <span class="err-signin" id="recover-notification"></span>
                <br>
                <button type="submit" class="btn btn-sm btn-primary">Xác nhận</button>
            </form>
        </div>
    </div>
</div>